RewriteEngine on

#RewriteCond %{ENV:REDIRECT_STATUS} .
#RewriteRule ^ - [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^api/v1/shortener$ api/v1/shortener.php [L]

RewriteRule ^s/(.*)$ goto.php?url=$1